{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>Quiz List</h1>
    <ul id="quiz-list">
        {% for quiz in quizzes %}
            <li>
                <a href="{% url 'quiz_detail' quiz_id=forloop.counter0 %}">{{ quiz.question | safe }}</a>
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>