{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.question }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>{{ quiz.question | safe }}</h1>
    <form id="quiz-form">
        {% for option in quiz.options %}
            <div>
                <input type="radio" name="answer" value="{{ option }}" id="option{{ forloop.counter }}">
                <label for="option{{ forloop.counter }}">{{ option | safe }}</label>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <script>
        const correctAnswer = "{{ quiz.correct_answer | escapejs }}";
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>